@model string
@if (!string.IsNullOrWhiteSpace(Model))
{
    <h2>Welcome Back, @Model!</h2>
    <a asp-action="DeleteCookies">Delete Cookies</a>
}
else
{
    <form asp-action="Index">
        <span>Hey, Looks like your first visit here</span><br />
        <label for="userName">Please enter your name:</label>
        <input type="text" id="userName" name="userName" required />
        <div class="form-group">
            <input type="submit" value="Update" />
        </div>
    </form>
}
